* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color:#333;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    padding-right: 20px;
    list-style: none;
  }
  
  a {
    color:#eee;
    text-decoration: none;
  }
  
  /* ----- Content ----- */
  
  .hero {
    padding: 15%;
  }
  
  /* ---- Footer ----*/
  
  .footer {
    background-color: #333;
    color:#eee;
    height: auto;
  }
  
  .section-footerWrapper {
    display: block;
    text-align: center;
  }

  

  .footer-nav, .footer-mediumSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  span  {
    color: red;
    border: 0;
  }
  